* {
    box-sizing: border-box;
}

.content {
    max-width: 980px;
    margin: 0 auto;
}

.button {
    position: relative;
    width: 50%;
}


.button img {
    width: 100%;
    height: auto;
}

#pageTitle {
    font-size: 5vw;
    text-align: center;
}

#directions {
    font-size: 2vw;
}

li {
    font-size: 1vw;
}

#displayGoal,
#displayWins,
#displayLosses,
#displayTotalScoreForTheRound {
    font-size: 3vw;
}