* {
    box-sizing: border-box;
}

.content {
    max-width: 980px;
    margin: 0 auto;
}

.button {
    position: relative;
    width: 50%;
}


.button img {
    width: 100%;
    height: auto;
}

#pageTitle {
    font-size: 5vw;
    text-align: center;
    padding: 10px 0;

font-family: 'Pacifico', cursive;

}

#directions {
    font-size: 3vw;
    font-family: 'Acme', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Source Code Pro', monospace;
}

li {
    font-size: 1vw;
}

#displayGoal,
#displayWins,
#displayLosses,
#displayTotalScoreForTheRound {
    font-size: 3vw;
}

#displayLosses,
#displayWins {
    font-family: 'Fredoka One', cursive;
}

#displayGoal{

}

#displayTotalScoreForTheRound {
    
}
